# Importing the dataset

In [1]:

import pandas as pd

# Load the dataset
file_path = "Climate Data RF & Temp 2012 to 2018.xlsx"
df = pd.read_excel(file_path)

df

,Station,LON,LAT,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Kitgum,32.8830,3.300,2012,0.00,0.90,8.70,267.60,110.00,84.70,140.00,175.60,161.6,220.1,63.1,30.3
1,Lira,32.9000,2.250,2012,0.00,7.40,23.90,319.50,135.50,86.30,99.70,255.30,278.9,196.1,147.8,93.6
2,Kasese,30.1000,0.183,2012,0.70,22.80,18.50,302.80,124.10,13.80,22.90,36.60,51.3,276.9,93.2,123.1
3,Gulu,32.2830,2.783,2012,0.00,13.60,10.00,217.00,218.80,201.40,106.00,198.60,401.7,214.7,111.4,52.6
4,Arua,30.9170,3.050,2012,0.00,4.30,18.30,142.80,110.80,109.10,355.50,181.70,226.0,336.7,56.4,47.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,Mubende,31.3666,0.580,2018,7.73,72.50,194.88,125.25,134.52,40.36,36.03,51.96,92.9,142.2,71.2,173.8
129,Kibanda,31.2200,-0.520,2018,28.30,71.60,121.50,186.40,67.80,23.60,0.60,42.50,48.2,88.3,142.0,165.6
130,Buginyanya,34.3670,1.283,2018,22.30,41.20,464.90,371.00,295.70,325.40,151.90,166.70,243.6,167.5,79.4,38.2
131,Kyembogo,30.3330,0.683,2018,18.40,48.53,177.93,183.00,125.40,124.80,49.80,0.00,155.6,177.3,211.8,153.8
132,Wadelai,31.4000,2.733,2018,0.00,0.00,0.00,254.70,47.50,38.90,28.00,66.50,107.1,99.3,124.9,40.4

## Checking for missing values

In [2]:

missing_values = df.isna().sum()
print("Missing values:\n", missing_values)

Missing values:
 Station    0
LON        0
LAT        0
Year       0
Jan        0
Feb        0
Mar        0
Apr        1
May        0
Jun        0
Jul        0
Aug        0
Sep        0
Oct        0
Nov        0
Dec        0
dtype: int64

## Dropping unnecessary columns

In [3]:

df = df.drop(columns=['LON', 'LAT', 'Year'])

In [4]:
df

,Station,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Kitgum,0.00,0.90,8.70,267.60,110.00,84.70,140.00,175.60,161.6,220.1,63.1,30.3
1,Lira,0.00,7.40,23.90,319.50,135.50,86.30,99.70,255.30,278.9,196.1,147.8,93.6
2,Kasese,0.70,22.80,18.50,302.80,124.10,13.80,22.90,36.60,51.3,276.9,93.2,123.1
3,Gulu,0.00,13.60,10.00,217.00,218.80,201.40,106.00,198.60,401.7,214.7,111.4,52.6
4,Arua,0.00,4.30,18.30,142.80,110.80,109.10,355.50,181.70,226.0,336.7,56.4,47.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,Mubende,7.73,72.50,194.88,125.25,134.52,40.36,36.03,51.96,92.9,142.2,71.2,173.8
129,Kibanda,28.30,71.60,121.50,186.40,67.80,23.60,0.60,42.50,48.2,88.3,142.0,165.6
130,Buginyanya,22.30,41.20,464.90,371.00,295.70,325.40,151.90,166.70,243.6,167.5,79.4,38.2
131,Kyembogo,18.40,48.53,177.93,183.00,125.40,124.80,49.80,0.00,155.6,177.3,211.8,153.8
132,Wadelai,0.00,0.00,0.00,254.70,47.50,38.90,28.00,66.50,107.1,99.3,124.9,40.4

## Imputation of missing value with mode

In [5]:
#Imputation of missing value with mode

# Identify the row with missing value
missing_row = df[df['Apr'].isna()]

# Get the station and month for the missing value
missing_station = missing_row['Station'].values[0]

# Calculate mode for April rainfall for the specific station
mode_rainfall = df[df['Station'] == missing_station]['Apr'].mode()[0]

# Impute the missing value with the mode
df.loc[missing_row.index, 'Apr'] = mode_rainfall

In [6]:
# Confirming that no more missing values
missing_values = df.isna().sum()
print("Missing values:\n", missing_values)

Missing values:
 Station    0
Jan        0
Feb        0
Mar        0
Apr        0
May        0
Jun        0
Jul        0
Aug        0
Sep        0
Oct        0
Nov        0
Dec        0
dtype: int64

## Feature Engineering

In [7]:

# Define features (X) and labels (y)
X = df[['Station']]
y = df[['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']]
X

        Station
0       Kitgum
1          Lira
2       Kasese
3          Gulu
4          Arua
..          ...
128     Mubende
129     Kibanda
130  Buginyanya
131    Kyembogo
132     Wadelai

[133 rows x 1 columns]

In [8]:
y

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,0.00,0.90,8.70,267.60,110.00,84.70,140.00,175.60,161.6,220.1,63.1,30.3
1,0.00,7.40,23.90,319.50,135.50,86.30,99.70,255.30,278.9,196.1,147.8,93.6
2,0.70,22.80,18.50,302.80,124.10,13.80,22.90,36.60,51.3,276.9,93.2,123.1
3,0.00,13.60,10.00,217.00,218.80,201.40,106.00,198.60,401.7,214.7,111.4,52.6
4,0.00,4.30,18.30,142.80,110.80,109.10,355.50,181.70,226.0,336.7,56.4,47.2
...,...,...,...,...,...,...,...,...,...,...,...,...
128,7.73,72.50,194.88,125.25,134.52,40.36,36.03,51.96,92.9,142.2,71.2,173.8
129,28.30,71.60,121.50,186.40,67.80,23.60,0.60,42.50,48.2,88.3,142.0,165.6
130,22.30,41.20,464.90,371.00,295.70,325.40,151.90,166.70,243.6,167.5,79.4,38.2
131,18.40,48.53,177.93,183.00,125.40,124.80,49.80,0.00,155.6,177.3,211.8,153.8
132,0.00,0.00,0.00,254.70,47.50,38.90,28.00,66.50,107.1,99.3,124.9,40.4

## Standardisation of label values to ensure they are all on the same scale

In [9]:
from sklearn.preprocessing import StandardScaler

# Initialize the StandardScaler
scaler = StandardScaler()

# Fit the scaler to the original target variable and transform it
y_standardized = scaler.fit_transform(y)

# Print the first 5 rows of the standardized target variable
print(y_standardized[:40])

[[-8.04334666e-01 -1.02048163e+00 -1.48978504e+00  1.07893500e+00
  -4.27465195e-01 -1.06704103e-01  7.23959043e-01  6.70439283e-01
   3.00098780e-01  8.03911504e-01 -1.03276693e+00 -5.25142647e-01]
 [-8.04334666e-01 -8.37718207e-01 -1.27542641e+00  1.74610792e+00
  -1.18681607e-01 -8.27327411e-02  1.86081877e-01  1.67721135e+00
   1.88713723e+00  5.09223348e-01  1.37357819e-01  3.81737725e-01]
 [-7.81255579e-01 -4.04709472e-01 -1.35158013e+00  1.53142993e+00
  -2.56726035e-01 -1.16893509e+00 -8.38954510e-01 -1.08541162e+00
  -1.19223150e+00  1.50134014e+00 -6.16937473e-01  8.04375497e-01]
 [-8.04334666e-01 -6.63390015e-01 -1.47145173e+00  4.28473536e-01
   8.90011447e-01  1.64170713e+00  2.70166893e-01  9.60975763e-01
   3.54858926e+00  7.37606669e-01 -3.65505709e-01 -2.05657145e-01]
 [-8.04334666e-01 -9.24882303e-01 -1.35440064e+00 -5.25365212e-01
  -4.17777867e-01  2.58859171e-01  3.60020047e+00  7.47494611e-01
   1.17141401e+00  2.23560479e+00 -1.12532697e+00 -2.83021347e-01]
 [-8.04334666e-01 -6.01531625e-01 -8.46709155e-01  6.93285911e-01
   3.07560836e-01 -9.62166324e-02  7.90693183e-01  1.05787951e-01
   1.93584430e+00 -3.31865762e-01 -9.19700539e-02  1.54649877e+00]
 [-8.04334666e-01 -9.52999753e-01 -1.47427224e+00  1.55713987e+00
  -1.84071073e-01  2.03425396e-01  7.42644602e-01  1.06708474e+00
   5.51751936e-01 -1.12875165e+00 -2.08015483e-01  5.79446242e-01]
 [-8.04334666e-01 -7.30871896e-01 -6.54283690e-02  3.30775767e-01
   2.93524863e+00  9.66014359e-01 -1.15556435e-01 -1.83485327e-01
  -4.88685039e-01  5.76756050e-01  3.00374017e-01  6.42483740e-01]
 [-5.93325877e-01  9.75857338e-01  3.40724819e-01 -9.74003652e-01
  -7.78630844e-01  9.52530467e-01  1.66061635e-01  6.08542381e-01
  -9.25695627e-01 -1.52597134e-01  6.82831583e-02  1.05652549e+00]
 [-7.71364542e-01  1.46392554e-01 -9.83503805e-01  3.15349803e-01
  -1.58641836e-01 -1.04907828e+00 -6.86800671e-01  9.69455363e-02
  -2.96738725e-03  2.17600245e-02  2.85177592e-01  6.35320388e-01]
 [-6.46078074e-01  8.45341630e-02 -1.17607772e-01  3.35917755e-01
   6.91421218e-01 -2.58023328e-01 -1.13792346e+00 -1.00961949e+00
  -1.00010920e+00 -9.28609277e-01  5.53187275e-01  2.74994192e+00]
 [-7.12018320e-01  4.38814037e-01 -5.27360819e-02  1.71374143e-01
   2.05737365e-02 -1.20189572e+00 -1.01913669e+00 -7.56979074e-01
  -5.50921841e-01 -4.93944247e-01  5.79435646e-01  8.74576347e-01]
 [-6.92236246e-01  1.42011305e+00 -1.05119600e+00 -1.52162536e+00
  -3.85083134e-01  4.98572794e-01 -2.79722419e-01 -4.87917029e-01
  -6.51041914e-01 -8.24240555e-01  1.08368067e+00  2.08948086e+00]
 [-8.04334666e-01 -9.97987674e-01 -1.57016952e+00 -2.39984886e-01
  -7.26667979e-02  6.93340113e-01  1.19243270e+00  6.45175242e-01
  -1.14758336e+00 -8.36519228e-01 -1.74561742e+00 -5.38036681e-01]
 [-8.00048550e-01  4.69743232e-01 -4.64107210e-01 -5.84112423e-01
  -7.83474509e-01 -4.01851502e-01 -3.25101634e-01 -1.98264791e-01
  -1.12999470e+00  1.03106696e+00  1.58101822e+00  2.47100099e+00]
 [-8.04334666e-01  2.78544570e-01 -8.09411644e-02 -3.67249085e-01
   1.70132519e+00 -1.18391720e+00 -1.06718527e+00 -8.79509676e-01
  -1.11511198e+00 -7.14960364e-01 -1.07006725e+00 -2.28579871e-01]
 [-8.04334666e-01 -6.04343370e-01 -1.37837496e+00  1.86437365e+00
  -1.75947283e+00  1.55780737e+00  1.03760950e+00  2.78630278e+00
   2.34579541e+00  2.15456555e+00  5.75291166e-01  9.64834583e-01]
 [-3.88911112e-01 -1.04578734e+00  2.20073868e-02 -1.39950315e+00
  -4.88010997e-01 -4.54288857e-01 -6.02715655e-01 -6.74870938e-01
   1.21200323e+00  4.65020125e-01  1.09196963e+00  2.70696181e+00]
 [-7.05424296e-01 -8.77082638e-01 -1.20350345e+00 -3.55679612e-01
  -2.09500310e-01 -1.02209473e-01  3.36901032e-01 -4.48757765e-01
  -5.33333179e-01  7.29011597e-01 -3.98661546e-01  3.44488294e-01]
 [ 1.66512757e+00 -9.81117204e-01 -5.56196805e-01 -7.02992863e-02
   2.50647783e-01  2.04923606e-01  7.19954995e-01  2.85451569e+00
   1.16735509e+00  2.45539304e+00 -8.54554305e-01 -8.03080707e-01]
 [ 1.44093073e+00 -7.08377936e-01  4.09827271e-01 -7.05334787e-01
   4.96357213e-02  2.58859171e-01  1.97856087e+00  1.54331192e+00
   1.11053018e+00  1.07527018e+00 -2.95049556e-01 -4.86460546e-01]
 [-2.40545557e-01  4.30378802e-01 -6.95811963e-01 -7.54412741e-02
  -4.40785272e-01 -1.24534381e+00 -1.03248351e+00 -5.34655507e-01
  -5.72569424e-01 -8.04594678e-01 -2.14922949e-01 -5.65257419e-01]
 [ 2.87183408e+00 -1.02329338e+00  3.99955492e-01 -1.18739615e+00
  -9.43315425e-01  2.07920027e-01  3.13306149e+00  1.75931948e+00
   5.92341155e-01  1.32943871e+00  2.10576959e-01 -1.08139686e-02]
 [ 4.48530019e-01 -4.58132628e-01 -5.42094264e-01 -7.90177586e-01
   5.08466373e-02  9.83992880e-01  9.34838925e-01  1.40562290e+00
   1.17141401e+00  5.24567074e-02  1.32682347e+00 -7.48639231e-01]
 [ 3.82589773e-01 -4.66567863e-01  7.87775377e-01  1.50806192e-01
   5.26736638e-01 -6.11600921e-01  6.38539344e-01 -9.26248153e-01
   2.36509003e-01 -7.72670128e-01  2.54784742e-01 -5.06517932e-01]
 [ 1.41785164e+00 -3.70968532e-01  9.16108502e-01 -5.74214096e-01
  -6.17685536e-02  8.80632151e-02 -2.74673705e-02  1.53789630e-01
  -2.27561064e-01 -4.27639412e-01 -3.94517067e-01  6.05234309e-01]
 [ 1.53324708e+00 -7.70236326e-01  1.71995335e+00  5.71163699e-01
   1.05832878e+00 -7.26963102e-01 -6.40086773e-01  8.20760332e-01
   1.21470918e+00 -7.61619322e-01  4.38523338e-01 -1.78436407e-01]
 [ 1.75084989e+00  3.06662020e-01  1.09239027e+00 -7.15618763e-01
  -2.62780615e-01 -2.90983951e-01 -8.09591488e-01  5.30223852e-01
   1.08752962e+00 -3.01169079e-01 -3.71031682e-01  1.12395687e-01]
 [ 1.82338416e+00 -5.34049744e-01  2.64571096e-01  3.28204773e-01
  -9.08198860e-01 -1.37568809e+00 -1.13258472e+00  2.56108999e-01
  -5.68510502e-01 -5.51654011e-01 -1.09929466e-01 -3.68981572e-01]
 [ 3.53123655e+00  7.87470421e-01  1.40123592e+00 -6.38718014e-02
   6.42984577e-01 -1.12548700e+00 -1.07385868e+00 -9.42669780e-01
   8.39935389e-01 -1.02561079e+00  1.71679096e-02  5.96638287e-01]
 [ 6.10083623e-01 -5.60530885e-02  2.10981440e-01 -1.37379321e+00
  -9.05777028e-01 -1.37568809e+00 -1.14326219e+00 -8.71930464e-01
   4.84103238e-01 -2.31180642e-01 -5.64440731e-01  2.09817275e-01]
 [ 2.11681826e+00  1.49040668e+00  9.59826380e-01 -4.18668964e-01
  -2.30192406e-02 -1.13297805e+00 -9.76426838e-01 -9.90671460e-01
   1.31888817e+00 -6.40060458e-01  5.93250578e-01  7.41337998e-01]
 [-1.35041163e-01 -9.95175929e-01 -7.08504250e-01 -7.28702802e-02
  -1.01839222e+00  5.91461823e-01  1.07764998e+00 -2.92120706e-01
  -1.29641049e+00 -1.59656910e+00 -9.16721500e-01 -8.26003434e-01]
 [ 8.11201376e-01  1.91380474e-01  5.31109126e-01 -3.81389552e-01
  -4.03246875e-01 -1.15095657e+00 -5.03949128e-01 -2.08749368e-01
   4.00218853e-01  4.14059015e-02  3.74974651e-01  1.43914436e-01]
 [-1.84496348e-01 -7.78671561e-01  3.66109393e-01 -1.33008631e+00
  -5.19494814e-01 -1.36370241e+00 -1.10589107e+00 -1.30268237e+00
  -1.34917648e+00 -1.20856302e+00 -9.58166296e-01 -7.80157981e-01]
 [ 2.55532090e+00 -5.98719879e-01  2.36726000e+00  3.48409982e+00
   2.15531218e-01  1.59076799e+00  2.35360674e+00  1.82626919e+00
   2.46756306e+00  9.67217856e-01  4.68916189e-01  6.94155745e-02]
 [ 3.69401723e-01 -4.48061084e-02  1.01200578e+00  1.58290104e-02
   8.36731142e-01 -1.18841183e+00 -5.01279763e-01  4.43062908e-01
   4.67867550e-01 -1.86977419e-01 -5.71348197e-01 -5.66690089e-01]
 [ 3.16649526e-01 -5.67790684e-01  2.63160842e-01 -5.09939248e-01
  -3.54810233e-01 -5.36690414e-01 -1.01164942e-02  4.38910487e-02
   6.57283905e-01 -3.02396946e-01  5.82198632e-01 -7.87321333e-01]
 [-7.02127283e-01  3.11110074e-02  1.82776357e-01 -1.65403155e+00
   1.01594671e+00  2.06420239e+00  3.70268102e-01  1.02160946e+00
  -1.55853445e-01  2.63649885e-01 -9.92703626e-01 -9.03367636e-01]
 [ 1.41907873e-01 -6.32460820e-01 -2.72735726e-01 -9.17441786e-01
   1.15520206e+00 -1.29177256e-01  5.69135839e-01  1.97532704e+00
   2.12155472e-01  4.23272636e-01  1.30234300e-02 -7.40043209e-01]]

## Find the lowest and highest values, to aid in assessing RMSE values

In [10]:
# Find the lowest and highest values
import numpy as np
lowest_value = np.min(y_standardized)
highest_value = np.max(y_standardized)

print("Lowest Value:", lowest_value)
print("Highest Value:", highest_value)

Lowest Value: -1.9625508182850044
Highest Value: 6.341646644054006

## Encoding categorical Feature values

In [11]:
# Perform one-hot encoding on the 'Station' column in X
X_encoded = pd.get_dummies(X, columns=['Station'], prefix='Station')


# Remove extra spaces from column names in X_encoded
X_encoded.columns = X_encoded.columns.str.strip()

# Display the updated column names
print(X_encoded.columns)


# Display the encoded feature set
print("\nEncoded Feature Set (X):")
print(X_encoded.head())

Index(['Station_Arua', 'Station_Buginyanya', 'Station_Entebbe', 'Station_Gulu',
       'Station_Jinja', 'Station_Kabale', 'Station_Kampala', 'Station_Kasese',
       'Station_Kibanda', 'Station_Kitgum', 'Station_Kotido',
       'Station_Kyembogo', 'Station_Lira', 'Station_Masindi',
       'Station_Mbarara', 'Station_Mubende', 'Station_Soroti',
       'Station_Tororo', 'Station_Wadelai'],
      dtype='object')

Encoded Feature Set (X):
   Station_Arua  Station_Buginyanya  Station_Entebbe  Station_Gulu  \
0         False               False            False         False
1         False               False            False         False
2         False               False            False         False
3         False               False            False          True
4          True               False            False         False

   Station_Jinja  Station_Kabale  Station_Kampala  Station_Kasese  \
0          False           False            False           False
1          False           False            False           False
2          False           False            False            True
3          False           False            False           False
4          False           False            False           False

   Station_Kibanda  Station_Kitgum  Station_Kotido  Station_Kyembogo  \
0            False            True           False             False
1            False           False           False             False
2            False           False           False             False
3            False           False           False             False
4            False           False           False             False

   Station_Lira  Station_Masindi  Station_Mbarara  Station_Mubende  \
0         False            False            False            False
1          True            False            False            False
2         False            False            False            False
3         False            False            False            False
4         False            False            False            False

   Station_Soroti  Station_Tororo  Station_Wadelai
0           False           False            False
1           False           False            False
2           False           False            False
3           False           False            False
4           False           False            False

## Model training and evaluation

In [12]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import cross_val_score
from sklearn.utils import shuffle

In [13]:
# Shuffle the dataset
X_encoded_shuffled, y_shuffled = shuffle(X_encoded, y_standardized, random_state=42)

# Split the shuffled dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_encoded_shuffled, y_shuffled, test_size=0.2, random_state=42)

## Linear Regression Model

In [14]:
from sklearn.linear_model import LinearRegression

# Define the linear regression model
linear_reg_model = LinearRegression()

#fit
linear_reg_model.fit(X_train, y_train)

# Perform k-fold cross-validation
cv_scores = cross_val_score(linear_reg_model, X_train, y_train, cv=5, scoring='neg_mean_squared_error')
cv_rmse_scores = np.sqrt(-cv_scores)
print("Cross-Validation RMSE Scores:", cv_rmse_scores)
print("Mean Cross-Validation RMSE:", cv_rmse_scores.mean())

Cross-Validation RMSE Scores: [0.8658936  0.84390333 0.9313715  1.09687667 0.96951324]
Mean Cross-Validation RMSE: 0.9415116665133002

## RidgeCV model

In [15]:
from sklearn.linear_model import RidgeCV

# Define the Ridge regression model with built-in cross-validation
ridge_cv_model = RidgeCV(alphas=[0.1, 1.0, 2.0, 3.0, 5.0, 6.0, 7.0, 9.0, 10.0], cv=5)

# Train the model on the training data
ridge_cv_model.fit(X_train, y_train,)

# Perform k-fold cross-validation
cv_scores_ridge = cross_val_score(ridge_cv_model, X_train, y_train, cv=5, scoring='neg_mean_squared_error')
cv_rmse_scores_ridge = np.sqrt(-cv_scores_ridge)
print("Ridge Regression Cross-Validation RMSE Scores:", cv_rmse_scores_ridge)
print("Mean Ridge Regression Cross-Validation RMSE:", cv_rmse_scores_ridge.mean())

print("Best Alpha value:", ridge_cv_model.alpha_)

Ridge Regression Cross-Validation RMSE Scores: [0.85790283 0.80087526 0.87736771 1.08864118 0.90667097]
Mean Ridge Regression Cross-Validation RMSE: 0.9062915916415628
Best Alpha value: 3.0

## DecisionTreeRegressor

In [16]:
from sklearn.tree import DecisionTreeRegressor

# Define the Decision Trees model
decision_tree_model = DecisionTreeRegressor(random_state=42)

#fit
decision_tree_model.fit(X_train, y_train)

# Perform k-fold cross-validation
decision_tree_cv_scores = cross_val_score(decision_tree_model, X_train, y_train, cv=5, scoring='neg_mean_squared_error')
decision_tree_cv_rmse_scores = np.sqrt(-decision_tree_cv_scores)

# Print cross-validation results
print("Decision Trees Cross-Validation RMSE Scores:", decision_tree_cv_rmse_scores)
print("Mean Decision Trees Cross-Validation RMSE:", decision_tree_cv_rmse_scores.mean())

Decision Trees Cross-Validation RMSE Scores: [0.85555257 0.84390333 0.9313715  1.09687667 0.96951324]
Mean Decision Trees Cross-Validation RMSE: 0.9394434607925284

## RandomForestRegressor

In [17]:
from sklearn.ensemble import RandomForestRegressor

# Define the Random Forest model
random_forest_model = RandomForestRegressor(random_state=42)

random_forest_model.fit(X_train, y_train,)

# Perform k-fold cross-validation
random_forest_cv_scores = cross_val_score(random_forest_model, X_train, y_train, cv=5, scoring='neg_mean_squared_error')
random_forest_cv_rmse_scores = np.sqrt(-random_forest_cv_scores)

# Print cross-validation results
print("Random Forest Cross-Validation RMSE Scores:", random_forest_cv_rmse_scores)
print("Mean Random Forest Cross-Validation RMSE:", random_forest_cv_rmse_scores.mean())

Random Forest Cross-Validation RMSE Scores: [0.85429178 0.83926772 0.93109006 1.09465439 0.95861835]
Mean Random Forest Cross-Validation RMSE: 0.9355844605596115

## Multi-Layer-Perceptron Regressor

In [18]:
from sklearn.neural_network import MLPRegressor

# Define the MLPRegressor model
mlp_regressor_model = MLPRegressor(random_state=42)

#fit
mlp_regressor_model.fit(X_train, y_train)

# Perform k-fold cross-validation
mlp_cv_scores = cross_val_score(mlp_regressor_model, X_train, y_train, cv=5, scoring='neg_mean_squared_error')
mlp_cv_rmse_scores = np.sqrt(-mlp_cv_scores)

# Print cross-validation results
print("ANN Cross-Validation RMSE Scores:", mlp_cv_rmse_scores)
print("Mean ANN Cross-Validation RMSE:", mlp_cv_rmse_scores.mean())

ANN Cross-Validation RMSE Scores: [0.84652781 0.83201524 0.91507821 1.07923566 0.95762473]
Mean ANN Cross-Validation RMSE: 0.9260963298581675

## KNeighborsRegressor

In [19]:
from sklearn.neighbors import KNeighborsRegressor

# Define the KNN model
knn_model = KNeighborsRegressor()

# Perform k-fold cross-validation
knn_cv_scores = cross_val_score(knn_model,X_train, y_train, cv=5, scoring='neg_mean_squared_error')
knn_cv_rmse_scores = np.sqrt(-knn_cv_scores)

# Print cross-validation results
print("KNN Cross-Validation RMSE Scores:", knn_cv_rmse_scores)
print("Mean KNN Cross-Validation RMSE:", knn_cv_rmse_scores.mean())

KNN Cross-Validation RMSE Scores: [0.86223166 0.84477247 0.95403382 1.10348119 0.94585265]
Mean KNN Cross-Validation RMSE: 0.9420743577505574

## Analyzing these results,
- we can see that the Ridge Regression model has the lowest mean cross-validation RMSE of 63.49, followed closely by the Decision Tree and Random Forest models. These models generally outperform Linear Regression and KNN.
- However, the Artificial Neural Network (MLPRegressor) has a significantly higher RMSE compared to other models, indicating poorer performance in this particular task.

- Therefore, based on these results, the Ridge Regression model with an alpha value of 1.0 seems to be the best-performing model for the rainfall prediction task among the ones tested. 
- It offers a good balance between model complexity (regularization) and predictive accuracy.

## Model selection
- Based on the analysis of the cross-validation RMSE scores, the Ridge Regression model with an alpha value of 1.0 appears to be the best-performing model for the rainfall prediction task among the ones tested. 
- Therefore, we have selected the Ridge Regression model as our final choice for predicting rainfall.

## Define the Final Ridge regression model with built-in cross-validation

In [20]:

ridge_cv_modelfinal = RidgeCV(alphas= [3.0], cv=5)  # Setting alpha value to 3.0

# Train the model on the entire dataset
ridge_cv_modelfinal.fit(X_encoded_shuffled, y_shuffled)


# Perform k-fold cross-validation
cv_scores_ridge = cross_val_score(ridge_cv_modelfinal, X_encoded_shuffled, y_shuffled, cv=5, scoring='neg_mean_squared_error')
cv_rmse_scores_ridge = np.sqrt(-cv_scores_ridge)
print("Ridge Regression Cross-Validation RMSE Scores:", cv_rmse_scores_ridge)
print("Mean Ridge Regression Cross-Validation RMSE:", cv_rmse_scores_ridge.mean())

Ridge Regression Cross-Validation RMSE Scores: [1.09577105 0.82711863 0.84500301 0.89853547 0.87057712]
Mean Ridge Regression Cross-Validation RMSE: 0.9074010586701491

## Prediction

In [21]:

def predict_rainfall(station, month, model, scaler, encoded_columns):
    # Strip any leading/trailing spaces from station name
    station = station.strip()
    
    # Create a feature vector with one-hot encoded station
    feature_vector = np.zeros(len(encoded_columns))
    feature_vector[encoded_columns.get_loc(f'Station_{station}')] = 1
    
    # Predict the rainfall using the model
    rainfall_prediction_standardized = model.predict([feature_vector])
    
    # Inverse transform the predicted rainfall to the original scale
    rainfall_prediction_original_scale = scaler.inverse_transform(rainfall_prediction_standardized)

    
    # Return the predicted rainfall value for the specific month
    print(f'{model}->{station}->{month}: {rainfall_prediction_original_scale[0][encode_month(month)]} mm')

In [22]:
def encode_month(month):
    # Define a dictionary to map month names to numerical values
    month_mapping = {
        'Jan': 0, 'Feb': 1, 'Mar': 2, 'Apr': 3, 'May': 4, 'Jun': 5,
        'Jul': 6, 'Aug': 7, 'Sep': 8, 'Oct': 9, 'Nov': 10, 'Dec': 11
    }
    
    # Return the numerical value corresponding to the month
    return month_mapping.get(month, 0)  # Return 0 if month not found in dictionary

In [23]:
# predicting rainfall forspecific months
predict_rainfall("Kitgum", "Apr", ridge_cv_modelfinal, scaler, X_encoded.columns)

RidgeCV(alphas=[3.0], cv=5)->Kitgum->Apr: 182.2005939849624 mm

C:\Users\JOSEPH\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RidgeCV was fitted with feature names
  warnings.warn(